.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80%; /* Adjusted width for the conversation list */
  max-width: 1200px; /* Maximum width for larger screens */
  justify-content: center;
  margin: auto;
  background-image: url('/public/images/chatting.jpg');
  background-size: cover;
}

.chat-container .title-1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(65px);
  opacity: .2;
}

.chat-container .title-2 {
  font-size: 2em;
  font-weight: 700;
  transform: translateY(-10px);
  color: black;
}

.message-list::-webkit-scrollbar {
  width: .3em;
}

.message-list::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 10px;
}

.message-list::-webkit-scrollbar-thumb {
  background: #78a084;
  border-radius: 10px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background-color: #e5e5ea;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  word-break: break-word; 
  max-width: 50%; 
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  margin-top: 20px;
  border-radius: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #ccc;
}

.emoji-button {
  font-size: 20px;
  cursor: pointer;
}

.message-details {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.emoji-picker {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 400px;
  max-height: 100px; 
  overflow-y: auto;
}

.emoji-picker::-webkit-scrollbar {
  width: .3em;
}

.emoji-picker::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 20px;
}

.emoji-picker::-webkit-scrollbar-thumb {
  background: #78a084;
  border-radius: 20px;
}

.emoji-picker-inner {
  display: flex;
  flex-wrap: wrap;
}

.emoji-picker span {
  padding: 5px;
  cursor: pointer;
}

.message.sent {
  align-self: flex-end;
  background-color: #DCF8C6;
  margin-left: auto;
  border: 1px solid #777777;
}

.message.received {
  align-self: flex-start;
  background-color: #E5E5EA;
  margin-right: auto;
  border: 1px solid #777777;
}

.message .message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message .message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.message .message-sender {
  font-weight: bold;
}

.message.sent .message-text {
  color: black;
}

.message.received .message-text {
  color: black;
}

.message-sender {
  display: flex;
  align-items: center;
}

.specialty-bubble {
  background-color: #70bb85; 
  color: #ffffff; 
  padding: 5px 10px;
  border-radius: 20px; 
  margin-left: 10px; 
  font-weight: bold;
  font-size: 12px; 
  text-align: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1000px;
  background-color: rgba(173, 216, 230, 0.945);
  padding: 10px;
  border-radius: 10px;
  align-self: center;
  overflow-y: auto; 
  max-height: 900px; 
}

.user-list > div {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-list > div:hover {
  background-color: #DCF8C6;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 100px;
  padding: 10px;
  background-color: #DCF8C6;
  border: 1px solid #70bb85;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #70bb85;
}

.user-list input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-list input[type="text"]:focus {
  outline: none;
  border-color: #70bb85;
}

