.login-body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(173, 216, 230, 0.712);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url('/public/images/login.jpg')
}
.login-container{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 20px #70bb85, 0 0 30px #70bb85;
  overflow: hidden;
  margin: 0 20px;
}
.login-container .forms{
  display: flex;
  align-items: center;
  height: auto;
  width: 200%;
  transition: height 0.2s ease;
}
.login-container .login-form{
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.login-container.active .login-form{
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.login-container.active .forms{
  height: 600px;
}
.login-container .login-form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.login-form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #70bb85;
  border-radius: 25px;
}
.login-form .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.login-form .input-field input{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}
.login-form .input-field input:is(:focus, :valid){
  border-bottom-color: #70bb85;
}
.login-form .input-field img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 9px;
  transition: all 0.2s ease;
}
.login-form .alert{
  margin-top: 5px;
}
.login-form .text{
  color: #333;
  font-size: 14px;
}
.login-form a.text{
  color: #70bb85;
  text-decoration: none;
  margin-left: 5px;
}
.login-form a:hover{
  text-decoration: underline;
}
.login-form .button{
  margin-top: 35px;
}
.login-form .button button {
  border: none;
  background: #70bb85;
  padding: 5px;
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  transition: .2s;
}
.login-form .button button:hover{
  background-color: #59a06d;
  cursor: pointer;
  color: #000;
}
.login-form .login-signup{
  margin-top: 30px;
  text-align: center;

}.login-form img {
  max-width: 200px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}